.app {
  text-align: center;
}

.app h1 {
  font-size: 40px;
}

.title {
  border-bottom: 10px solid goldenrod;
  height: 100px;
  margin: 40px 0 0 0;
  padding-top: 20px;
}

.zombie-title, .weapons-title, .armour-title, .misc-title {
  border: 5px solid red;
}
